# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
.env

# IDE specific files
.vscode/
*.idea/

# Runtime created files
*.log
*.txt